/*
.element_item button {
	display: inline-block;
	width: 40%;
}
*/
.content {
	display:none;
	overflow: hidden;
}

.element_box{
	margin: auto;
	display: grid;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-columns: 25% 25% 25% 25%;
	width: 90%;
	height: 90vh;
	background-color: black;
}

.element_box *{
	margin: 2%;
	padding: 10%;
	display: block;
	text-align: center;
}

label input[type=radio]{
	display: none;
}

label span{
	display: inline-block;
	width: 80%;
	background-color: #333;
	color: white;
	overflow: hidden;
	font-size: 120%;
	font-family: "游ゴシック"
}
input:checked + span{
	color: black;
	background-color: white;
}
#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3%;
	background-color: #111;
	color: #333;
	font-size: 70%;
}